<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<connectionStrings>
		<add name="ClientecustomerEntities"
			 connectionString="metadata=res://*/Infraestructura.Model1.csdl|res://*/Infraestructura.Model1.ssdl|res://*/Infraestructura.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALANTONIC\SQLEXPRESS;initial catalog=Clientecustomer;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>